@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --body: #EBE3D5;
    --beige: #B0A695;
    --bg-element: #776B5D;
    --clr-font: #fffdf7;
    --clr-font--highlight: #ffe6c2;
    --hover: #ddc99e;
    --grey: #323232;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--body);
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}


/* container */

.container{
    max-width: 1024px;
    background-color: var(--beige);
    overflow: hidden;
    box-shadow: 0px 0px 50px -9px rgba(32,32,32,0.75);
}

/* header */

.header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: .3rem .5rem;
    background-color: var(--bg-element);
}

/* header logo (left) */

.h__left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 60px;
    border: 1px solid var(--grey);
    border-radius: 50%;
    margin: .5rem 1rem;
}

/* Bars */

.menu__icon{
    font-size: 1.9em;
    margin-right: .9rem;
    padding: 15px;
    opacity: .7;
    cursor: pointer;
    color: var(--clr-font);
}

.menu__icon:hover{
    opacity: 1;
}
/* navbar */

.navbar{
    display: none;
    margin-block: 21px;
}

.navbar.active{
    display: flex;
    transition: .2s;
    animation: navbarDowm .4s ease-in;
}


.navbar__ul{
    display: flex;
    flex-direction: column;
}

.navbar__li{
    display: flex;
    align-items: center;
    margin-block: 7px;
    padding: 3px;
    transition: .3s;
}

.navbar__li a.active {
    color: var(--hover);
    font-weight: 600;
}

.navbar__li a{
    color: var(--clr-font);
}

.navbar__li a:hover{
    color: var(--hover);
}

.navbar__icon{
    color: var(--clr-font);
    font-size: 1.1em;
    margin-right: 7px;
    cursor: pointer;
}

.search__box{
    display: flex;
    align-items: center;
    position: relative;
}

.input__search{
    display: none;
    width: 250px;
    padding: 10px 30px 10px 15px;
    padding-left: 30px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-weight: 600;
    background-color: var(--beige);
    color: var(--clr-font);
}

.fa-x{
    display: none;
    position: absolute;
    right: 0;
    padding: 5px;
    border-radius: 15px;
    color: var(--body);
}

.fa-x.active{
    animation: cancelSearch .7s ease-in;
}

/* navbar box search */

.results__container{
    display: none;
    width: 100%;
    background-color: var(--body);
    
}

.results{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 2px;
    font-size: 15px;
    font-weight: 600;
    color: var(--grey);
    cursor: pointer;
    transition: .125s;
}

.results:hover{
    background-color: #323232;
    color: var(--clr-font);

}

.results__left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.results__price{
    display: flex;
    align-items: center;
}

.results__img{
    width: 80px;
    height: 80px;
    border: 5px solid var(--clr-font);
    object-fit: cover;
    border-radius: 50%;
}

.not__found{
    padding: 15px 30px;
    font-weight: 600;
    color: var(--grey);
}

.fa-exclamation-triangle{
    color: #ea4335;
    margin-right: 5px;
}

/* active searchBar */

.input__search.active{
    display: flex;
    animation: search .5s ease-in;
}

.search__icon.active{
    position: absolute;
    animation: search .5s ease-in;
    left: 5px;
}

/* first hero */

.slide{
    display: flex;
    position: relative;
    gap: 10px;
    overflow: hidden;
}

.hero__img{
    width: 100%;
}

.slide__img{
   display: flex;
}

.slide__img:nth-child(2), .slide__img:nth-child(3){
    display: none;
}

.arrow__style{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    font-size: 1.534em;
    opacity: .7;
    color: var(--clr-font);
    cursor: pointer;
    transition: .2s;
}

.slide__arrow.right {
    right: 0;
    padding: 0px 15px 0 55px;
}

.slide__arrow.left {
    left: 0;
    padding: 0px 55px 0 15px;
    height: 100%;
}

.arrow__style:hover{
    opacity: 1;
}

.arrow__style.right:hover{
    box-shadow: inset -82px 0px 50px -45px rgba(0,0,0,0.6);
}

.arrow__style.left:hover{
    box-shadow: inset 82px 0px 50px -45px rgba(0,0,0,0.6);
}

/* Hero: title */

.hero__text{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-block: 1.9rem;
    font-size: 1.5em;
    color: var(--clr-font);
}

.hero__text.title{
    font-size: 2em;
    letter-spacing: 1px;
    border-right: 75px solid var(--grey);
    border-left: 75px solid var(--grey);
    color: var(--clr-font--highlight);
}

.comment{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.2em;
    line-height: 2.5;
    color: var(--clr-font);
    font-weight: 600;
    background-color: var(--bg-element);
}

/* second hero */

.hero.relative{
    position: relative;
}

.hero.relative img{
    box-shadow: 0px 10px 6px 0px rgba(0,0,0,0.5);
}
.hero__text--absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 15px;
    width: 100%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    background-color: #030303a2;
}

/* popular */

.section__title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 3rem 1rem;
    padding: 0 5rem;
    font-size: 2.234em;
    color: var(--clr-font);
}

.popular__title--absolute{
    position: relative;
}

.popular__title--absolute::after{
    content: "";
    position: absolute;
    top: 50%;
    left: -30%;
    width: 50%;
    border-end-end-radius: 10px;
    height: 7px;
    background-color: var(--grey);
}

.popular__title--absolute::before{
    content: "";
    position: absolute;
    top: 50%;
    right: -30%;
    width: 50%;
    border-start-start-radius: 10px;
    height: 7px;
    background-color: var(--grey);
}

.fa-fire{
    margin-right: 10px;
}

#popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-element);
}

.popular__cards{
    display: flex;
    position: relative;
    margin-block: 15px;
    border: 10px solid var(--body);
    border-radius: 50%;
    overflow: hidden;
}

.popular__card{
    width: 360px;
    height: 320px;
    border-radius: 50%;
    object-fit: fill;
    cursor: pointer;
    transition: .3s;
}

.popular__card--text{
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    background-color: #5050509a;
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
    color: var(--clr-font);
    transition: .5s;
}

.popular__card:hover{
    filter: brightness(.5);
}

/* menu */

.menu__title--absolute{
    position: relative;
}

.menu__title--absolute::after{
    content: "";
    position: absolute;
    top: 50%;
    left: -30%;
    width: 50%;
    border-end-end-radius: 10px;
    height: 7px;
    background-color: var(--grey);
}

.menu__title--absolute::before{
    content: "";
    position: absolute;
    top: 50%;
    right: -30%;
    width: 50%;
    border-start-start-radius: 10px;
    height: 7px;
    background-color: var(--grey);
}

.menu__cards{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu__card{
    display: flex;
    background-color: var(--bg-element);
    border-radius: 10px;
    width: 100%;
    height: 360px;
    object-fit: cover;
    box-shadow: 0px 8px 6px 0px rgba(0,0,0,0.5);
}

.menu__card:nth-child(2), .menu__card:nth-child(3){
    display: none;
}

/* lineargradient al hacer click en arrow(utilizar js) */

.menu__text{
    display: flex;
    text-align: center;
    margin-block: 25px;
    padding: 15px;
    line-height: 1.3;
    font-weight: 600;
    color: var(--clr-font);
    background-color: #0000003d;
    font-size: 1.5em;
}

.menu__text--highlight{
    text-transform: uppercase;
    color: var(--clr-font--highlight);
}

.btn--container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 10px 5px;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s;
}

.btn--menu{
    width: 50%;
    margin-bottom: 21px;
    border: 2px solid var(--clr-font);
    font-size: 1.3em;
    color: var(--clr-font);
    background-color: var(--bg-element);
}

.btn--menu:hover{
    border: 2px solid var(--clr-font--highlight);
    background-color: var(--grey);
    color: var(--hover);
}

/* about me */

.btn--container.website{
    margin: 50px 0;
    margin-bottom: 0;
    padding: 20px 15px;
    background-color: var(--grey);
}

.btn--website{
    border: none;
    padding: 15px 20px;
    font-size: 1em;
    font-weight: 600;
    background-color: var(--bg-element);
    color: rgb(238, 206, 159);
    letter-spacing: .2px;
    transition: .3s;
}

.btn--website:hover{
    background-color: var(--beige);
    color: var(--clr-font);
}

/* footer */

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-element);
    color: var(--clr-font);
}

.footer__open{
    line-height: 2;
}

.footer__text{
    display: flex;
    justify-content: center;
    font-size: 1.235em;
    margin-bottom: 7px;
}

.footer__li:nth-child(3){
    margin-bottom: 25px;
}

.social__media{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.social__media--icon{
    padding: 15px;
    margin-block: 20px;
}

.social__media--icon i{
    font-size: 35px;
    margin-inline: 15px;
    color: var(--clr-font);
    transition: .3s;
}

.social__media--icon a{
    position: relative;
}

.social__media--icon a::after{
    content: attr(data-socialMedia);
    position: absolute;
    padding: 5px 10px;
    border-radius: 15px;
    margin-inline: 50px;
    top: -50px;
    left: -50px;
    font-size: 15px;
    color: #fff;
    opacity: 0;
    background-color: var(--grey);
    transition: .3s;
}

.social__media--icon a:nth-child(1)::after{
    left: -40px;
}

.social__media--icon a:nth-child(2)::after{
    left: -60px;
}

.social__media--icon a:hover::after{    
    opacity: 1;
}

/* X */

.fa-x-twitter:hover{
    border-radius: 8px;
    background-color: var(--grey);
}


/* Google */

.fa-google:hover{
    background: linear-gradient(-120deg, #4285f4, #34a853, #fbbc05, #ea4335);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Instagram */

.fa-square-instagram:hover{
    background:linear-gradient(to bottom, #833ab4,#fd1d1d,#fcb045);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* github */

.fa-github:hover{
    color: var(--grey);

}

.copy{
    margin: 5px;
    font-size: .9em;
}

/* arrow up */

.fa-arrow-up{
    display: none;
    position: fixed;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
    font-size: 1.2em;
    color: var(--clr-font);
    background-color: var(--grey);
    padding: 10px;
    border-radius: 50%;
    animation: arrowUp 1s ease-in;
    opacity: .8;
    transition: .3s;
}

.fa-arrow-up:hover{
    opacity: 1;
}

.fa-arrow-up::after{
    content: attr(data-up);
    position: absolute;
    padding: 7px;
    font-size: 10px;
    text-transform: lowercase;
    border-radius: 10px;
    letter-spacing: 1px;
    background-color: var(--grey);
    color: var(--clr-font);
    right: 35px;
    transform: scale(0);
    transform-origin: right;
    transition: .3s;
}

.fa-arrow-up:hover::after{
    transform: scale(1);
}

/* *********************************************************
 MediaQuerys 
********************************************************* */
@media screen and (max-width: 3100px) {
    
    .header{
        flex-direction: row;
    }

    .logo{
        width: 80px;
    }

    .navbar__menu{
        display: none;
    }

    .navbar{
        display: flex;
    }

    .navbar__ul{
        flex-direction: row;
    }

    .navbar__li{
        margin-inline: 16px;
    }

    .input__search.active{
        animation: search .3s ease-in;
    }
    
    .search__icon.active{
        animation: search .3s ease-in;
    }

    .fa-x.active{
        animation: cancelSearch .4s ease-in;
    }

    /* arrow */

    .arrow__style{
        font-size: 2.865em;
    }

    /* HeroTitle */

    .hero__text.title{
        font-size: 3em;
    }

    .hero__text.title{
        border-right: 300px solid var(--grey);
        border-left: 300px solid var(--grey);
    }

    /* second hero */


    .hero__img.second{
        height: 1024px;
    }

    .hero__text{
        font-size: 2.5em;
    }

    /* results */
   
    .results{
        padding-right: 40px;
        padding-left: 15px;
    }

    .results__img{
        margin-right: 5px;
    }

    
    /* menu */

    .query{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 30px;
        padding-left: 0;
        background-color: var(--bg-element);
        margin-bottom: 50px;
    }

    .menu__text{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: justify;
        border-radius: 50px;
        padding-inline: 50px;
        font-size: 2em;
    }

    .menu__card{
        width: 100%;
        height: 450px;
        box-shadow: none;
        background-color: transparent;
    }
    
    .menu__arrow.right, .menu__arrow.left{
        top: 100%;
        height: 0;
    }

    .menu__arrow.left{
        left: 30%;
    }

    .menu__arrow.right{
        right: 30%;
    }


}

@media screen and (max-width: 1024px) {

    .arrow__style{
        font-size: 2em;
    }

    #popular{
        padding-bottom: 50px;
    }
    
    .popular__card{
        width: 300px;
        height: 290px;
    }

    .navbar__li{
        font-size: 15px;
    }

    .hero__img.second{
        height: 660px;
        object-fit: cover;
    }

    .query{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 30px;
        padding-left: 0;
        background-color: var(--bg-element);
        margin-bottom: 50px;
    }

    .menu__card{
        width: 100%;
        height: 400px;
        box-shadow: none;
        background-color: transparent;
    }
    
    .menu__arrow.right, .menu__arrow.left{
        top: 100%;
        height: 0;
    }

    .menu__arrow.right:hover{
        box-shadow: none;
    }

    .menu__arrow.left:hover{
        box-shadow: none;
    }

    .menu__text{
        display: flex;
        align-items: center;
        padding-block: 40px;
        text-align: center;
    }

    /* Title */

    .hero__text.title{
        border-right: 220px solid var(--grey);
        border-left: 220px solid var(--grey);
    }

    .comment{
        font-size: 2.225em;
        padding-block: 1.2rem;
    }

}


@media screen and (max-width: 760px) {
    .logo{
        width: 55px;
        border: 2px solid var(--grey);
    }

    .menu__icon{
        font-size: 1.3em;
        padding: 13px;
        margin-right: .7rem;
    }

    .header{
        display: block;
    }

    .navbar{
        display: none;
        flex-direction: column;
        font-size: 13px;
    }

    .navbar__ul{
        flex-direction: column;
    }

    .navbar__menu{
        display: flex;
    }

    .input__search{
        width: 200px;
    }

    /* results box */

    .results{
        padding: 7px;
        padding-right: 10px;
        font-size: 13px;
    }

    .results__img{
        width: 60px;
        height: 60px;
    }

    /* arrow first hero */

    .arrow__style{
        font-size: 1.2em;
    }

    /* hero: title */

    .hero__text{
        font-size: 1.3em;
    }

    .hero__text.title{
        font-size: 1.652em;
    }

    .hero__text.title{
        border-right: 190px solid var(--grey);
        border-left: 190px solid var(--grey);
    }

    .comment{
        padding: 10px;
        font-size: .9em;
    }

    /* second hero */

    .hero__text--absolute{
        font-size: 10px;
    }

    /* popular */

    .section__title{
        font-size: 1.7em;
    }

    .popular__card{
        width: 220px;
        height: 220px;
    }

    .popular__card--text{
        font-size: 13px;
    }

    .menu__text{
        font-size: 1.1em;
        margin-block: 30px;
    }

    .btn{
        padding: 7px 4px;
    }

    /* menu */

    .query{
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: var(--bg-element);
        padding: 0;
    }

    .menu__card{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 50px;
    }

    .menu__cards{
        width: 65%;
        object-fit: cover;
    }

    .menu__arrow.left, .menu__arrow.right{
        top: 90%;
        font-size: 30px;
    }

    .menu__arrow.left{
        left: 5%;
    }

    .menu__arrow.right{
        left: 90%;
    }

    /* about me */

    .btn--container.website{
        margin: 35px 0;
    }

    .btn--website{
        padding: 10px 15px;
        font-size: .8em;
    }

    /* footer */

    .footer__open{
        line-height: 1.5;
        margin-top: 50px;
    }

    .footer__text{
        font-size: 1.1em;
    }

    .footer__li{
        font-size: 16px;
    }

    .social__media{
        padding: 10px;
        margin-block: 15px;
    }

    .social__media--icon i{
        font-size: 35px;
    }

    .social__media--icon a::after{
        top: -35px;
        font-size: 9px;
    }

    .social__media--icon a:nth-child(1)::after{
        left: -35px;
    }

    .social__media--icon a:nth-child(2)::after{
        left: -47px;
    }

    .social__media--icon a:nth-child(3)::after{
        left: -55px;
    }

    .copy{
        font-size: .7em;
    }

    .fa-arrow-up{
        font-size: 1em;
        padding: 9px;
    }

    .fa-arrow-up::after{
        font-size: 11px;
        right: 35px;
        top: 5px;
    }

}

@media screen and (max-width: 660px) {

    .hero__text.title{
        border-right: 150px solid var(--grey);
        border-left: 150px solid var(--grey);
    }

    .menu__cards{
        width: 100%;
    }

    .menu__card{
        width: 100%;
        height: 360px;
    }

}

@media screen and (max-width: 500px) {
    .hero__text.title{
        border-right: 100px solid var(--grey);
        border-left: 100px solid var(--grey);
    }
}

@media screen and (max-width: 390px){
    
    .hero__text.title{
        border-right: 50px solid var(--grey);
        border-left: 50px solid var(--grey);
    }

    .menu__cards{
        width: 100%;
    }
    
    .menu__card{
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .menu__card{
        width: 400px;
    }

    .menu__text{
        padding: 17px 20px;
        border-radius: 15px;
        margin-inline: 1rem;
    }
}