@keyframes navbarDowm {
    0% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(-25%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes search {
    0% {
        transform: translateX(-100%);
    } 
    100% {
        transform: translateX(0);
    }
}

@keyframes arrowUp {
    0% {
        transform: translateX(75%);
    } 
    50% {
        transform: translateX(0);
    }
}

@keyframes cancelSearch {
    0% {
        transform: translateX(150%);
    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0);
    }
}